.flex-container{
    display: flex;
    flex-direction: row;
    font-size: 32px;
    text-align: center;
}

.flex-left{
    width: 50%;
    background-color: aliceblue;
}
.flex-right{
width: 50%;
background-color: cornflowerblue;
padding: 5px;
}

@media screen and (max-width:600px) {
    .flex-container{
        flex-direction: column;
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.column{
    flex: 25%;
    max-width: 25%;
    
}
.column img{
    vertical-align: middle;
    margin: 5px;
}