.tooltip{
position: relative;
border-bottom: 1px dotted red;
display: inline-block;
}

.tooltiptext{
visibility: hidden;
background-color: black;
color: aliceblue;
padding: 5px 1px;
border-radius: 6px;
width: 120px;

position: absolute;
z-index: 1;
left: 40px;
top: -5px;

}


.tooltip:hover .tooltiptext {
    visibility: visible;
    z-index: 1;
}